#favorites>div {
    display: flex;
    flex-wrap: wrap;
}
.item {
    width: 200px;
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}
.item:hover {
    background-color: rgb(191, 149, 212);
}
.item h3 {
    margin: 0;
    font: 30px sans-serif;
    text-align: center;
}